* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Light mode */
:root {
  --bg-color: #ffffff;
  --text-color: #121212;
  --brand-color: #7D191B;
  --grey-color: #818181;
  --lightgrey-color: #A9A9A9;
  --box-bg: #FCFCFC;
  --box-stroke: #D9D9D9;
}

/* Dark mode */
.app-container.dark {
  --bg-color: #151515;
  --text-color: #FFFFFF;
  --brand-color: #973B3D;
  --grey-color: #C8C8C8;
  --lightgrey-color: #A9A9A9;
  --box-bg: #242424;
  --box-stroke: #6B6B6B;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
  font-family: 'Geist', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Geist Sans', sans-serif;
}

code,
pre {
  font-family: 'Geist Mono', monospace;
}

.app-container {
  min-height: 100vh;
  width: 100%;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.25s ease, color 0.25s ease;
}

.page-content {
  padding: 78px 149px;
}